.App {
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  min-height: 600px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 2rem 1.5rem;
}

.App h2,
.App .city {
  text-align: center;
  margin-bottom: 1rem;
}