.App {
  max-width: 500px;
  background-color: #fff;
  margin: auto;
  min-height: 600px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 2rem 1.5rem;
}

.App h2,
.App .city,
.App .MainStat {
  text-align: center;
  margin-bottom: 1rem;
}

.alert {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  width: 100%;
  background-color: salmon;
  color: #fff;
  text-align: center;
  max-width: 500px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
}
